.top-header{
	display:inline-block;
	img{
		width:15%;
		display:inline-block;
	}
	.search-box{
		display:inline-block;
		.search-input{
			height: 35px;
			width:550px;
			border:1px solid black;
			display:inline-block;
			padding:0px;
		}
		img{
			width:5%;
			display: inline-block;
			padding:0px;
		}

	}
	.blue-box{
		height:50px;
		background-color: blue;
		
		.blue-box-content{
			color:white;
			font-weight: bold;
			font-size:20px;
			padding:10px;
			margin-left: 100px;
			
			
		}
	}
}
.bottom-container{
	background-color:#f0f5f5;
	.bottom-container-left-box{
		width:200px;
		height:300px;
		background-color:white;
		box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-left:20px; 
        padding:5px;
        top:10px;      
		img{
           width:25%;
           padding:5px;
           
		}
		.all-contacts{
			padding:10px;
		}
		.circles{
			padding:10px;
			img{
				width:15%;
				float:right;
			}
		}
		.find-dublicates{
			padding:10px;
		}
		.frequently{
			padding:10px;
		}
		.groups{
			padding:10px;
			img{
				width:15%;
				float:right;
			}
		}
		.more{
			padding:10px;
			img{
				width:15%;
				float:right;
			}
		}
	}
}